body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
}

.navbar a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
    padding: 5px;
}

.navbar button{
    width: 5%;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #c82333;
}


.content {
    padding: 20px;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.actions {
    text-align: center;
}
.edit, .delete {
    cursor: pointer;
    padding: 5px;
}